body {
    background: url('/img/back.png')
}

.btn, button, input {
	border-radius: 0 !important;
}

#app, #title {
	text-align: center;
    max-width: 30em;
    /*margin: auto;*/
}

.joinRoom {
    float: right;
    margin-right: -0.5em;
    margin-top: -0.35em;
}

.alert {
    margin: auto auto 1em;
    padding-right: 0.7em;
    text-align: left;
    border-radius: 0;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.bubble {
    border-radius: 0 20px 20px 20px;
    display: table;
    margin: 11px;
}

.userBubble {
    border-radius: 20px 20px 0 20px;
    display: table;
    margin-bottom: 11px;
    margin-right: 11px;
    margin-top: 11px;
}


#messages {
    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 600px;
    overflow: auto;
    padding-top: 1em;
}

#messageForm {
    margin-bottom: 0;
}

.chatInput {
    background: none repeat scroll 0 0 white;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 99.6%;
}

#messageContent{
    width: 75%;
}

.drawing {
    height: 600px;
    left: 30em;
    position: absolute;
    top: 0;
    width: 600px;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    background: white;
    border-left: 0;
}


